@charset "UTF-8";

/* 回答はここに書いてね */

.contents-wrapper{
  width: 900px;
  background-color: #eff3f4;
  margin:0 auto;
  font-size: 18px;
  line-height: 22px;
  padding: 20px;
}

.img-left {
  float: left;
  margin:0 20px 10px 0;
  /* padding-right: 20px;
  padding-bottom: 10px; */
  /* padding-top: 20px; */
}

.img-right {
  float: right;
  margin:0 0 10px 20px;
}

.content-box {
  word-break: break-all; 
  /*一切の禁則処理を解除し、どの文字の間でも改行する*/
  /* word-wrap:break-word; */
  /* 望ましい折り返しの制御をしてくれるのはword-wrap:break-word;(overflow-wrap:break-word;) */
}


.clearfix::after {
  clear: both;
  content: "";
  display: block;
}


/*今までのテキストのビミョーな隙間は均等割付で解決！！*/

/* 回答はここに書いてね */
