@charset "UTF-8";

/* 回答はここに書いてね */

.fukidashi {
  margin: 0 auto;
  position: relative;
  width: 500px;
  color: #222;
  font-size: 16px;
  background: #FFF;
  border: solid 5px #222;
  /* box-sizing: border-box; サンプルと異なるところ */
  border-radius: 30px;
}

.fukidashi:before {
  content: "";
  position: absolute;
  bottom: -38px;
  left: 30px;
  /* margin-left: -9.5px; */
  border: 20px solid transparent;
  border-top-color:#FFF;
  z-index: 2;
}

.fukidashi:after {
  content: "";
  position: absolute;
  bottom: -45px;
  left: 30px;
  /* margin-left: -9.5px; */
  border: 20px solid transparent;
  border-top-color: #222;
  z-index: 1;
}

/* ボーダーのトップを重ねるときその太さは同じ */

.fukidashi-text {
  margin: 0;
  padding: 20px;
  font-size: 16px;
  line-height: 16px;
}
/* 回答はここに書いてね */
