@charset "UTF-8";

/* 回答はここに書いてね */
/* 見本と異なるがpadding含めての幅にできているのであっている...と思う。 */

/* 今回は固定と可変が混在するモノを作るが、display:tableの機能を用いる。
1. 親要素にdisplay:tableを用いる
2.子要素全てにdisplay:table-cellをセット
3.固定は幅を設定する
4. */

.row {
  display: table;
  width: 100%;
  padding: 20px;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  line-height: 56px;
  table-layout: fixed;
}

/* border-boxつけといた。 row2とか文字数に左右されてvariable同氏の比率が均等じゃなくなるので
対策としてtable-layout:fixedにした。指定したもの以外は均等幅になる。前のlessonで学習済み。*/

.row *{
  display: table-cell;
}

/*各要素をcellのように扱いますよと*/

.wd100{
  width: 100px;
}

.wd500{
  width: 500px;
}

.is-beige{
  background-color: #fdc8b8;
}

.is-lightpink{
  background-color: #e0abd9;
}

.is-lightblue{
  background-color: #b6d8ed;
}

.is-yellow{
  background-color: #e5d32e;
}

.is-pink{
  background-color: #ec8f9a;
}

.is-green{
  background-color: #8fdcad;
}
/* 回答はここに書いてね */
