@charset "UTF-8";

/* 回答はここに書いてね */

.contents-wrapper{
  width: 500px;
  height: 500px;
  background-color: #ecf1f2;
  margin: 0 auto;
  position: relative;
  font-size: 30px;
  font-weight: bold;
}

.box-common {
  width: 100px;
  height:100px;
  text-align: center;
  line-height: 100px;
  position: absolute;
}

.first{
  background-color: #ffefd3;
  left:200px;
  top:40px;
}

.second{
  background-color: #7084de;
  left:280px;
  top: 120px;
}

.third{
  background-color: #d0ecea;
  left:360px;
  top: 200px;
}

.fourth {
  background-color: #8b7a5e;
  left:280px;
  top: 280px;
  z-index: 1;
}

.fifth {
  background-color: #9fd6d2;
  left: 200px;
  top: 360px;
  z-index: 2;
}

.sixth {
  background-color: #fffee4;
  left: 120px;
  top: 280px;
  z-index: 3;
}

.seventh {
  background-color: #deae70;
  left: 40px;
  top: 200px;
  z-index: 4;
}

.eighth {
  background-color: #de70cf;
  left: 120px;
  top: 120px;
  z-index: 5;
}

.eighth::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-color: #ffefd3;
  position: absolute;
  /* 親のposiがstaticでない限りはabsoluteで親要素が基準となる */
  left: 80px;
  top: 0;
}
/* 小さい四角をかぶせてみた。
eighthはすでにabsoluteだからかrelativeつかうとおかしくなる。
このままでもeighthを基準に位置が決まっている。なんか気持ち悪い。 */

.ninth {
  background-color: #de70cf;
  left: 0;
  top: 0;
  margin: 10px;
  font-weight: bold;
  position: fixed;
}





/* 回答はここに書いてね */
